





html {
    line-height: 1.5;
    font-family: "Roboto", sans-serif !important;
    font-weight: normal;
}




.dark-primary{
  background:  #333C87 !important;
}
.light-primary{
  background: #ededf8  !important;
}
.primary{
  background: #5963c0 !important;
}
.secundary{
  background: #757575 !important;
}
.accent{
  background: #fdd835 !important;
}
.text-accent{
  color: #FF4081 !important;
}
.text{
  color: #212121 !important;
}


.white-text{
  color: #fff !important;
}

/*  App Colors   */


.Content{
  height: 100%;
}
.navbar {
  margin: 0px !important;
  border: none !important;
  border-radius: 0px !important;
}
.center, .center-align {
    text-align: center !important;
}
.label-icon{
  position: absolute;
}


.logo{
  margin-left: 1rem;
  width: 4.2rem;
  height: 4.2rem;
}



.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.searchnav{
  border-radius: 0px !important; 
  margin: 0px !important;
  min-height: 60vh;
}
.searchbar-title{
  font-family: roboto !important;
  font-size: 12vw !important;
  margin-bottom: 5vh !important; 
}
.searchbar-brand{
  font-family: roboto !important;
  font-size: 5vw !important;
  margin-bottom: 5vh !important; 
}
.searchbar{
  border-radius: 5px;
  height: 10vh !important;
  overflow: hidden;
}
input[type ='searchbar']{
  padding-left: 2rem;
  width: 90%;
  background: transparent;
  color: black;
  font-size: 4vh;
  border: none;
}
input[type = 'searchbar']:focus { 
    background-color: #fff;
    margin: none;
    outline: none !important;
    -webkit-transition: background-color 100ms linear;
}
.searchbar-icon{
  width: 10% !important;
  height: 100% !important;
  font-size: 2vw !important;
  background: transparent !important;
  border: none !important;
  outline: none !important;
  padding: 0px !important;
}



ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}
.content-footer {
  min-height: 25vh;
  padding-top: 2%;
  font-size: 100%;
  text-justify: inter-word !important;
}
.page-footer .footer-copyright {
    overflow: hidden;
    min-height: 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(51, 51, 51, 0.08);
}
.footer-links{
  padding-left: 35%; 
}
.page-footer li{
  padding-top: 1.5rem;
}
.registro .input-field .prefix.active {
  color: #1A274D !important ;
}

.version{
  height: 1rem;
  width: 2rem;
}


/*Login*/
.error{
  color: red;
  margin:0px;
  margin: 0 auto;
}
.wrapper {  
  margin-top: 80px;
  margin-bottom: 80px;
}

.Login{
  height: 80vh;
}
.form-signin {
  max-width: 380px;
  min-height: 40vh;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
}

  input[type="email"] {
    margin-bottom: -1px !important;
    height: 7vh !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  input[type="password"] {
    height: 7vh !important;
    margin-bottom: 20px !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }


/* Login*/

a {
  color: #fff !important;
}
