/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.searchbar{
	height: 4.6rem !important;
}
.registro .input-field .prefix.active {
  color: #1A274D !important ;
}

.blue-head{
	background: #1A274D !important; 
}
.blue-secu{
	background: #263564 !important;
}
.version{
	height: 1rem;
	width: 2rem;
}
.error{
	margin:0px;
	width: 100%;
}
.login {
    height: 15rem;
    width: 26rem;
    margin-left: 37%;
}